.navigation {
    background: linear-gradient(135deg,#0143a3,#0273d4);
    text-align: center;
    font-size: large;
    height: 50px;
    display: flex;
    justify-content: center;
}

.navLink {
    color:azure;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

.navLink:hover {
    color: skyblue;
}

