<div style="margin-bottom: 40px;">
    <a routerLink="product/{{product.id}}">
        <img  src={{product.url}} />
    </a>
    <h3>{{product.name}}</h3>
    <p>${{product.price}}</p>
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="decrement()">-</button>
    <p>{{selectedQty}}</p>
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="increment()">+</button>
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="addToCart(product)">Add To Cart</button>
</div>
