<div class="item" style="margin-bottom: 40px;">
    <a class="imgLink" routerLink="product/{{product.id}}">
        <img class="img" src={{product.url}} />
    </a>
    <h3>{{product.name}}</h3>
    <p>${{product.price}}</p>
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <button class="btn btn-primary" 
                    (click)="decrement()">
                    -
            </button>
        </div>
        <div class="col-sm-2">
            <p style="position: relative; top: 7px">{{selectedQty}}</p>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary" (click)="increment()">+</button>
        </div>
    </div>
    <button class="btn btn-primary" 
            style="display: block; margin: 15px auto;" 
            (click)="addToCart(product)">
            Add To Cart
    </button>
</div>
